.navbar {
    background-color: #F9F7F7;
    text-align: right;
    width: 100%;
    height: 70px;
    position: sticky;
    z-index: 1;
}

.margin-top {
    margin-top: 25px;
}

.navbar-bun {
    display: flex;
    justify-content: space-between;
}

.logo {
    text-decoration: none;
    color: black;
    margin: 25px;
    font-family: 'Fauna One', serif;
    font-size: 16px;
}

.nav-link {
    text-decoration: none;
    color: black;
}

.nav-link:hover {
    /* background-color: #45a049; */
    color: black;
    border-radius: 3px;
    padding: 3px;
}

.home,
.about,
.services,
.reservation1 {
    margin-left: 50px;
    margin-top: 50px;
}


@media (width < 1080px) {
    .Navbar {
        grid-template-columns: auto;
    }

    .nav {
        width: 100%;
    }
}

